body {
  color: #fff;
  letter-spacing: 1px; }

a {
  color: #fff; }

p,
h1,
h2,
h3,
h4 {
  color: #fff; }

.color_element {
  color: #fff; }

.color_bg {
  background-color: #fff; }

.color_border {
  border-color: #fff; }

body {
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 2vh;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #fff; }

body input:required:valid,
body textarea:required:valid {
  color: #fff; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative;
  height: 100vh;
  min-height: 642px; }

.top_mnu {
  width: 16px;
  position: fixed;
  z-index: 1000;
  right: 2%;
  top: 30%; }
  .top_mnu ul {
    padding-left: 0; }
  .top_mnu li {
    list-style: none; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
    .top_wrapper .top_descr .top_left {
      display: table-cell;
      text-align: left;
      vertical-align: middle; }
  .top_wrapper .top_text,
  .top_wrapper .top_exit {
    display: inline-block; }
    .top_wrapper .top_text h1,
    .top_wrapper .top_exit h1 {
      font-size: 5vh;
      color: rgba(255, 255, 255, 0.7);
      text-transform: uppercase;
      margin: 0;
      font-weight: normal; }
      .top_wrapper .top_text h1 span,
      .top_wrapper .top_exit h1 span {
        color: #fff;
        font-family: Cent;
        border: 3px solid #000000;
        padding: 4px 12px;
        margin-right: 5px; }

.mouse {
  height: 41px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  animation: pulse 2s ease infinite; }

.social {
  position: absolute;
  bottom: 5px;
  right: 10px; }
  .social ul {
    margin: 5px;
    padding-left: 0; }
  .social li {
    display: inline-block;
    margin-right: 12px; }

.about_container {
  background: url("../images/bg2.jpg");
  background-size: cover; }

.about_me {
  width: 29%;
  margin: 0 10% 0 auto; }
  .about_me h2 {
    text-align: center;
    font-size: 4vh;
    opacity: 0.7;
    text-transform: uppercase;
    margin-bottom: 55px;
    font-weight: normal; }
  .about_me p {
    font-size: 3vh;
    opacity: 0.7;
    margin: 0; }

.exit_container {
  height: 331px;
  min-height: 331px; }
  .exit_container p {
    font-size: 3vh;
    opacity: 0.7;
    line-height: 2.7;
    text-transform: uppercase;
    margin: 0 15% 0 15%; }

.footer_container {
  background: url("../images/bg5.jpg");
  background-size: cover;
  padding-top: 100px; }
  .footer_container h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 4vh;
    margin-bottom: 90px;
    font-weight: normal;
    opacity: 0.7; }

.footer_blocks {
  width: 80%;
  margin: 0 auto 0 auto; }

form {
  float: left;
  font-size: 2vh; }
  form li {
    list-style-type: none; }
  form li:before {
    content: "| ";
    font-size: 2vh;
    color: #ffffff;
    opacity: 0.3; }
  form li:last-child:before {
    content: ""; }

.form-text,
.form-email,
.form-textarea,
.form-submit {
  width: 21vh;
  margin-bottom: 25px;
  opacity: 0.3;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0);
  outline: none;
  color: #fff; }

.form-textarea {
  width: 40vh;
  resize: none; }

.form-submit {
  width: 25vh;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-left: 50px;
  opacity: 1; }

.form-submit:hover {
  color: #7c7064;
  border-bottom: 1px solid #7c7064; }

.footer_contacts {
  float: right;
  margin: 0 5% 0 auto; }
  .footer_contacts p {
    font-size: 3vh;
    text-transform: uppercase;
    text-align: center; }
    .footer_contacts p span {
      color: #7c7064;
      text-transform: lowercase;
      padding-left: 12px; }

.p-style {
  margin-top: 60px; }

.social-footer ul {
  text-align: center;
  padding: 0; }
.social-footer li {
  display: inline-block;
  margin-right: 12px; }

.footer-the-end {
  width: 100%;
  position: absolute;
  bottom: 10px; }
  .footer-the-end p {
    font-size: 2vh;
    opacity: 0.5;
    text-transform: uppercase;
    text-align: center; }

.gallery_block_1 {
  width: 38%;
  float: left;
  background: url("../images/bg4.jpg") repeat-y;
  background-size: contain;
  height: 100vh;
  min-height: 642px; }
  .gallery_block_1 h4 {
    text-align: center;
    font-size: 3vh;
    text-transform: uppercase;
    opacity: 0.7;
    margin: 0;
    padding: 63px 0 70px;
    color: #000; }

.gallery_block_2 {
  width: 62%;
  float: left;
  background: url("../images/bg4-1.jpg") repeat-y;
  background-size: contain;
  height: 100vh;
  min-height: 642px;
  box-shadow: -6px 0 4px -4px #222;
  -moz-box-shadow: -6px 0 4px -4px #222;
  -webkit-box-shadow: -6px 0 4px -4px #222; }

.filter-control {
  text-align: left;
  font-size: 2vh;
  text-transform: uppercase;
  opacity: 0.7;
  margin: 0;
  padding: 77px 7% 65px; }
  .filter-control li {
    display: inline-block;
    color: #fff;
    opacity: 0.6;
    margin-right: 3%;
    cursor: pointer; }
    .filter-control li:hover {
      opacity: 1; }
  .filter-control .active {
    opacity: 1; }

div#javascript-gallery {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: 387px;
  overflow: hidden;
  outline: none; }
  div#javascript-gallery .gallery_img {
    width: 176px;
    height: 186px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    display: none; }
    div#javascript-gallery .gallery_img img {
      height: 100%;
      position: relative;
      left: -50px; }

.gallery_big_img {
  width: 100%;
  height: 387px;
  overflow: hidden; }

figure {
  margin: 0;
  text-align: right; }
  figure img {
    height: 387px; }

div#javascript-gallery a {
  flex: 1 1 1%;
  opacity: 0.5;
  transition: 0.3s; }
  div#javascript-gallery a:hover, div#javascript-gallery a:focus {
    opacity: 1; }

.clear {
  clear: both; }

.icons {
  display: block;
  opacity: 0.5; }
  .icons:hover {
    opacity: 1; }

.home_icon {
  width: 15px;
  height: 16px;
  background: url("../images/icons/home.png") no-repeat; }

.about_icon {
  width: 15px;
  height: 16px;
  background: url("../images/icons/about.png") no-repeat; }

.gallery_icon {
  width: 15px;
  height: 16px;
  background: url("../images/icons/gallery.png") no-repeat; }

.contacts_icon {
  width: 15px;
  height: 21px;
  background: url("../images/icons/contacts.png") no-repeat; }

.polosa_icon {
  width: 2px;
  height: 36px;
  background: url("../images/icons/polosa.png") no-repeat;
  margin: 5px auto; }

.top_icon {
  width: 22px;
  height: 12px;
  background: url("../images/icons/top.png") no-repeat;
  display: none;
  position: fixed;
  right: 30px;
  bottom: 30px; }

.mouse_icon {
  width: 25px;
  height: 41px;
  background: url("../images/icons/mouse.png") no-repeat; }

.fb_icon {
  width: 11px;
  height: 25px;
  background: url("../images/icons/fb.png") no-repeat; }

.youtube_icon {
  width: 24px;
  height: 25px;
  background: url("../images/icons/youtube.png") no-repeat; }

.instagram_icon {
  width: 24px;
  height: 25px;
  background: url("../images/icons/insta.png") no-repeat; }

.exit_icon {
  width: 23px;
  height: 22px;
  background: url("../images/icons/exit.png") no-repeat;
  display: inline-block;
  margin-left: 30px; }
